body {
    margin-top : 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

h4 {
    font-style: italic;
}


.contain {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup {
    margin-right: 20px;
}

.login {
    margin-left: 20px;
}