<!doctype html>
<html lang="fr">
    
    <head>
        <% include partials/head %>
        <link href="/css/credentials.css" rel="stylesheet" type="text/css">
    </head>
    <body >
        <div class="container"></div>
        <div class="col-lg-6 col-md-offset-3">
            <div class="jumbotron">             
                <h1> Sign Up Form </h1>
                <form name="signup" method="post" action="/user/signup">
                    <table>
                        <tr>
                        <td>Email</td>
                        <td><input type="text" name="email" ></td>
                        </tr>
                        <tr>
                        <td>Password</td>
                        <td><input type="text" name="password"></td>
                        </tr>
                        <tr>
                        <td colspan="2"><input type="submit" value="Sign Up" ></td>
                        </tr>
                    </table>
                </form>
                <h1> Login Form </h1>
                <form name="login" method="post" action="/user/login">
                    <table>
                        <tr>
                        <td>Email</td>
                        <td><input type="text" name="email" ></td>
                        </tr>
                        <tr>
                        <td>Password</td>
                        <td><input type="text" name="password"></td>
                        </tr>
                        <tr>
                        <td colspan="2"><input type="submit" value="Log In" ></td>
                        </tr>
                    </table>
                </form> 
            </div>  
        </div>
    </div>
    </body>
   <script>
    /*
    $('#show-metrics').click((e) => {
        e.preventDefault();
        $.getJSON("/metrics.json", {}, (data) => {
        const content = data.map(d => {
            return 'timestamp: '+d.timestamp+', value: '+d.value+'<br>';
        })
        $('#metrics').append(content.join(""));
        });
    })

    
    $('#add-user').click((e) => {
        e.preventDefault();
        $.post("/user", {}, () => {
        const content =  'user added perfectly <br>';

        $('#user').append(content);
        });
    }) 
    */
   </script> 
</html>
