<!doctype html>
<html lang="fr">
    
    <head>
        <% include partials/head %>
    </head>

    <body class="container" style="padding-top: 15px;">
        <div>
            <h1>Welcome to the Home page :</h1>
            <p> Your informations :</p> <br>
            <%= email %>
            <%= password %>
            <p class="text-success"><strong>Enjoy !</strong> </p>
            
        </div>
    </body>
</html>
